.ban {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.ban-sec {
  position: relative;
  padding-top: 140px;
  padding-bottom: 80px;
  z-index: 2;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
.ban-sec-txt.text-white {
  width: 70% !important;
}

.ban-sec::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.bg-zoom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: zoomEffect 15s ease-in-out infinite alternate;
  will-change: transform;
  z-index: 1;
}
.ban-sec > *:not(.bg-zoom) {
  position: relative;
  z-index: 3;
}

.carousel-caption1 {
  position: relative;
  z-index: 3;
  text-align: center;
  color: #fff;
  left: -27% !important;
}

@keyframes zoomEffect {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}

.heading {
  font-size: 50px !important;
  color: var(--white-color);
  text-transform: uppercase;
  width: 100% !important;
  padding-top: 10px !important;
  /* font-family: "Urbanist", sans-serif; */
  font-family: var(--default-font1);
  text-transform: uppercase;
  white-space: normal;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 105%;
  margin-bottom: 10px;
  text-align: left;
}

.h-para {
  font-size: 100%;
  color: var(--white-color);
  font-weight: 400;
  font-family: var(--default-font);
  text-align: left;
  margin-top: 0px !important;
  width: 100% !important;
}
.hero-btns {
  display: flex;
  align-items: center;
  gap: 15px;
}

.outline-btn {
  background: transparent;
  color: white;
  /* padding: 10px 28px; */
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s ease;
}

.outline-btn:hover {
  background: white;
  color: #000;
}

/* about-sec */

.about-sec {
  padding: 100px 0;
}

.about-images {
  position: relative;
}

.about-img-main {
  width: 80%;
  border-radius: 25px;
}

.about-img-small {
  position: absolute;
  bottom: -60px;
  right: 40px;
  width: 60%;
  border-radius: 25px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

.about-list {
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-list svg {
  color: #7ed957;
}
.about-list p {
  color: var(--primary-color1);
  font-size: 16px;
  font-family: var(--default-font);
}

/* service */

.service-slider-wrapper {
  padding: 100px 0;
}

/* CARD */
.service-card {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  transition: 0.4s ease;
}
.service-sec {
  margin-top: 40px;
}

/* IMAGE */
.service-card img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  transition: transform 0.6s ease;
}

/* ICON */
.service-card .icon {
  position: absolute;
  top: 20px;
  right: 20px;
  background: var(--primary-color);
  width: 55px;
  height: 55px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 3;
  font-size: 27px;
}

/* CONTENT */
.service-card .content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 18px;
  z-index: 3;
}

.service-card .content h4 {
  margin-bottom: 8px;
  font-weight: 600;
  color: var(--primary-color);
  font-family: var(--default-font);
}

.service-card .content p {
  font-size: 14px;
  color: var(--text-color);
  font-family: var(--default-font1);
}

/* OVERLAY (Bottom → Top) */
.service-card::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  transition: bottom 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

/* HOVER */
.service-card:hover::after {
  bottom: 0;
}

.service-card:hover img {
  transform: scale(1.05);
}

.service-card:hover {
  transform: translateY(-6px);
}

/* workprocess */

.work-process {
  text-align: center;
  padding: 0px 0px 100px 0px;
}

.process-row {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  position: relative;
  margin-top: 40px;
}

.process-item {
  flex: 1;
  position: relative;
}

/* GREEN ICON BOX */

.icon-box {
  width: 110px;
  height: 110px;
  background: var(--primary-color);
  border-radius: 25px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.icon-box svg {
  font-size: 42px;
  color: white;
}

/* STEP NUMBER */

.step {
  position: absolute;
  top: -12px;
  right: -12px;
  background: #e3e7ff;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TEXT */

.process-item h4 {
  margin-top: 20px;
  font-weight: 600;
  font-family: var(--default-font);
  font-size: 28px;
}

.process-item p {
  color: var(--text-color);
  font-size: 15px;
  font-family: var(--default-font);
}

/* DOTTED ARROW */

.arrow {
  /* position: absolute;
  right: -70px;
  top: 55px;
  width: 120px;
  height: 60px;
  border-top: 2px dashed #8cec5a;
  border-radius: 50%; */
  background-color: var(--primary-color);
  height: 4px;
  transition: all 500ms ease;
  width: 200px;
  position: absolute;
  margin-top: -9rem;
  margin-left: 7rem;
  /* border-top: 2px dashed var(--primary-color); */
  /* border-radius: 50%; */
}
.arrow::before {
  content: "";
  position: absolute;
  top: -8px;
  right: -10px;
  height: 20px;
  width: 20px;
  background-color: var(--primary-color);
  clip-path: polygon(0 0, 0 100%, 100% 50%);
  transition: all 500ms ease;
}

/* RESPONSIVE */

@media (max-width: 991px) {
  .process-row {
    flex-direction: column;
  }

  .arrow {
    display: none;
  }
}

/* video sec */

.video-section {
}
.video-sec {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}

.video-section img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

/* GREEN OVERLAY */
.video-overlay {
  position: absolute;
  inset: 0;
  background: rgba(84, 116, 251, 0.45); /* your #5474fb */
}

/* PLAY BUTTON */
.play-btn {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: transparent;
  color: white;
  font-size: 28px;
  cursor: pointer;
  z-index: 3;
  transition: 0.3s;
}

.play-btn:hover {
  transform: scale(1.1);
}

/* MODAL */
.video-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.video-box {
  width: 80%;
  max-width: 900px;
  aspect-ratio: 16/9;
}

.video-box iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* energy */

.energy-progress {
  padding: 100px 0;
}

.energy-progress .small {
  color: #7ed957;
  font-weight: 600;
  letter-spacing: 2px;
}

.energy-progress h2 {
  font-size: 42px;
  margin: 15px 0;
}

.energy-progress p {
  color: #777;
}

/* PROGRESS */

.progress-item {
  margin-bottom: 25px;
}

.progress-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-weight: 600;
}
.progress-head span {
  font-size: 22px;
  color: var(--primary-color);
  font-family: var(--default-font);
}

.progress-track {
  height: 8px;
  background: #eee;
  border-radius: 20px;
  overflow: hidden;
}

.progress-track span {
  display: block;
  height: 100%;
  background: var(--accent-color);
  border-radius: 20px;
}

/* CTA BOX */

.cta-box {
  margin-top: 80px;
  background: #f6f7f2;
  border-radius: 30px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.cta-box img {
  width: 460px;
  height: 280px;
  object-fit: cover;
}

.cta-content {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

.cta-icon {
  width: 70px;
  height: 70px;
  background: var(--accent-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
}

.cta-content h4 {
  font-family: var(--default-font);
  font-size: 35px;
}
.cta-content h4 span {
  color: var(--accent-color);
  font-family: var(--default-font);
  font-size: 35px;
}

@media (max-width: 768px) {
  .cta-box {
    flex-direction: column;
  }

  .cta-box img {
    width: 100%;
  }
}

/* why choose */

.why-section {
  padding: 100px 0;
  text-align: center;
  background: #eff1ed;
}

/* GRID */

.why-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 40px;
}

/* CARD */

.why-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

/* ICON */

.why-icon svg {
  font-size: 40px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

/* TEXT */

.why-card h4 {
  margin-bottom: 10px;
  color: var(--primary-color1);
  font-size: 22px;
  font-family: var(--default-font);
  padding-bottom: 15px;
}

.why-card p {
  font-size: 15px;
  color: var(--text-color);
  line-height: 1.7;
  font-family: var(--default-font1);
}

/* RESPONSIVE */

@media (max-width: 992px) {
  .why-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .why-grid {
    grid-template-columns: 1fr;
  }
}
.why-card {
  position: relative;
  background: white;
  padding: 35px 25px;
  border-radius: 25px;
  text-align: left;
  overflow: hidden;
}

/* Overlay */
.why-card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background: var(--accent-color);
  transition: bottom 0.5s ease;
  z-index: 0;
}

.why-card:hover::before {
  bottom: 0;
}

/* Bring content above overlay */
.why-card * {
  position: relative;
  z-index: 2;
}

/* Text color override */
.why-card:hover h4,
.why-card:hover p {
  color: #fff !important;
}

/* Icon */
.why-card:hover .why-icon svg {
  color: #fff;
}

/* counter */
.count {
  width: 100%;
  /* margin: 100px 0px; */
}

.stats-bar {
  background: var(--primary-color);
  padding: 60px 0;
  /* border-radius: 20px; */
}

.stats-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* ITEM */

.stat-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* ICON */

.stat-icon {
  width: 70px;
  height: 70px;
  background: var(--white-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stat-icon svg {
  color: var(--primary-color);
  font-size: 35px;
}

/* TEXT */

.stat-item h3 {
  margin: 0;
  font-size: 34px;
  color: var(--white-color);
}

.stat-item p {
  margin: 0;
  color: var(--white-color);
  font-size: 18px;
  font-family: var(--default-font);
}

/* RESPONSIVE */

@media (max-width: 900px) {
  .stats-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .stats-container {
    grid-template-columns: 1fr;
  }
}

/* field start */

.solar-section {
  padding: 100px 0px 60px 0px;
  background: #f6f7f2;
}

.solar-box {
  background: #eef0ea;
  border-radius: 30px;
  padding: 80px 60px 80px 60px;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

/* LEFT */

.solar-left {
  flex: 1;
}

/* FORM */

.solar-form {
  flex: 1.5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.solar-form select,
.solar-form input {
  padding: 14px 18px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: white;
  font-size: 14px;
}

.solar-form select {
  grid-column: span 1;
}

.solar-form button {
  grid-column: span 2;
  background: var(--accent-color);
  border: none;
  padding: 14px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  color: var(--white-color);
}

.solar-form button:hover {
  background: var(--primary-color);
}

/* RESPONSIVE */

@media (max-width: 992px) {
  .solar-box {
    flex-direction: column;
  }

  .solar-form {
    grid-template-columns: 1fr;
  }

  .solar-form button {
    grid-column: span 1;
  }
}

/* marquee */

.marquee-section {
  overflow: hidden;
  background: #f6f7f2;
}

.marquee {
  display: flex;
  width: max-content;
  animation: marquee 15s linear infinite;
}

.marquee span {
  font-size: 120px;
  font-weight: 800;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 2px var(--primary-color);
  letter-spacing: 6px;
  padding-right: 40px;
}

/* NO DELAY – starts instantly */

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
